version: "3"

volumes:
  db-data:
    driver: local
  redis-data:
    driver: local

networks:
  legis-network:
    driver: bridge

services:
  db:
    image: mysql:5.7
    container_name: legis-db
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
      - ./.docker/database/init:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=legis
      - MYSQL_DATABASE=legis
      - MYSQL_USER=gen
      - MYSQL_PASSWORD=legis
    networks:
      - legis-network

  web:
    image: nginx:stable
    container_name: legis-nginx
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/conf.d/legis.conf:/etc/nginx/conf.d/default.conf
      - ./.docker/nginx/logs:/var/log/nginx
    depends_on:
      - php
      - db
    ports:
      - "8080:80"
      - "443:8083"
    networks:
      - legis-network

  redis:
    image: redis
    container_name: legis-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: legis-php
    volumes:
      - ./:/var/www/html
    ports:
      - "9000:9000"
    networks:
      - legis-network

  # QUEUE
  # queue:
  #   image: ambientum/php:7.1
  #   container_name: legis-queue
  #   command: php artisan horizon
  #   volumes:
  #     - .:/var/www/app
  #   restart: unless-stopped
  #   links:
  #     - mysql
  #     - cache
