version: "3"

volumes:
  mysql-data:
  redis-data:
  dot-config:
  dot-local:
  dot-cache:
  dot-composer:

services:
  db:
    image: mysql:5.7
    container_name: legis-db
    restart: unless-stopped
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - 3307:3306
    environment:
      - MYSQL_ROOT_PASSWORD=legis
      - MYSQL_DATABASE=legis
      - MYSQL_USER=legis
      - MYSQL_PASSWORD=legis
  web:
    image: ambientum/php:7.4-nginx
    container_name: legis-web
    restart: unless-stopped
    environment:
      - PHP_IDE_CONFIG=legisName=ambientum
    volumes:
      - .:/var/www/app:cached
      - dot-config:/home/ambientum/.config
      - dot-cache:/home/ambientum/.cache
      - dot-local:/home/ambientum/.local
      - dot-composer:/home/ambientum/.composer
    ports:
      - 8080:8080
      - 443:8083
    links:
      - db
      
  # # Redis.
  # cache:
  #   image: redis:4.0-alpine
  #   container_name: legis-redis
  #   restart: unless-stopped
  #   volumes:
  #     - redis-data:/data
  #   ports:
  #     - 6379:6379

  # QUEUE
  # queue:
  #   image: ambientum/php:7.1
  #   container_name: legis-queue
  #   command: php artisan horizon
  #   volumes:
  #     - .:/var/www/app
  #   restart: unless-stopped
  #   links:
  #     - mysql
  #     - cache
